html, body, ol, ul, dl, li, section, nav, p{
  margin: 0;
  padding: 0;
}

ol, ul, dl{
  list-style-type: none;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  &:hover, &:active{
    color: inherit;
  }
}