/*-----------------------------common colors-----------------------------*/
$navv: #001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #e6194b;
$pink: #fabebe;
$brown: #aa6e28;
$maroon: #85144b;
$fuchsia: #F012BE;
$purple: #B10DC9;
$gray: #AAAAAA;
$sliver: #DDDDDD;
$white: #ffffff;
$whitesmoke: #f5f5f5;
$black: #111111;

/*-----------------------------common sizes-----------------------------*/
$container-width: 100%;
$content-width: 960px;

/*-----------------------------breakpoints------------------------------*/
$desktop-min: 1024px;
$tablet-max: 1023px;
$table-min: 768px;
$mobile-max: 767px;

/*-----------------------------font family------------------------------*/
$font-primary: 'Roboto', sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

/*-----------------------------custome variables------------------------*/
//....
